@tailwind base;
@tailwind components;
@tailwind utilities;


html * {
  box-sizing: border-box;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

html * ::-webkit-scrollbar {
  display: none;
}

*,
*:before,
*:after {
  color: inherit;
  box-sizing: inherit;
}